@import './Overrides.scss';
@import './Jumbotron.scss';
@import './Modal.scss';

.App-text {
  color: rgba(0, 0, 0, 0.7);
}

.App-section {
  &--title {
    border-bottom: 1px solid #6b9ad1;
  }
}

.header-font {
  font-family: 'Source Sans Pro', sans-serif;
}

.App-portfolio {
  &--subtitle {
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}

.App-gold {
  background-color: #6b9ad1; 
}

a, a:hover, a:visited, a:active {
  color: #6b9ad1; 
}

.bg-black {
  background-color: black;
}

.notable-font {
  font-family: 'Notable', sans-serif;
}