@import './Overrides.scss';
@import './Jumbotron.scss';
@import './Modal.scss';

.App-text {
  color: rgba(0, 0, 0, 0.5);
}

.App-section {
  &--title {
    border-bottom: 3px solid #b18f4b;
    padding-bottom: 6px;
    font-weight: 700;
  }
}

.header-font {
  font-family: 'Raleway', sans-serif;
}

.App-portfolio {
  &--subtitle {
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}

.App-gold {
  background-color: #b18f4b; 
}

a, a:hover, a:visited, a:active {
  color: #b18f4b; 
}

.bg-black {
  background-color: black;
}